*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #333;
}
li{
    list-style: none;
}
input{
    outline: none;
    border: none;
}
/* 版心 */
.layout{
    width: 1190px;
    margin: 0 auto;
}
/* 顶部大合子 */
.Top{
    height: 95px;
    background-color: #fffaf7;
    border-bottom:2px solid #d5d2ce ;
    overflow: hidden;
}
/* 标题开始 */
.Top>.titleTopBox{
    height: 55px;
    /* background-color: red; */
    margin-top: 20px;
    overflow: hidden;

}
/* logo */
.Top>.titleTopBox>.Logo{
    width: 113px;
    height: 55px;
    /* background-color: yellow; */
    float: left;
}
.Top>.titleTopBox>.Logo img{
    width: 100%;
    height: 100%;
}
/* 搜索开始 */
.Top>.titleTopBox>.searchBox{
    /* width: 267px; */
    width: 357px;
    height: 40px;
    /* background-color: yellow; */
    float: left;
    margin-top: 10px;
    margin-left: 18px;
}
.Top>.titleTopBox>.searchBox>.searchBoxL{
    width: 267px;
    height: 38px;
    background-color: #fffaf7;
    float: left;
    border: 1px #d5d2ce solid;
}
.Top>.titleTopBox>.searchBox>.searchBoxL>input{
    width: 260px;
    height: 38px;
    /* background-color: #fffaf7; */
    float: left;
    padding-left: 10px;
    font-size: 18px;
}
.Top>.titleTopBox>.searchBox>.searchBoxR{
    width: 85px;
    height: 38px;
    background-color: #993300;
    border: 1px solid #b27d65;
    float: left;
    cursor: pointer;
}
.Top>.titleTopBox>.searchBox>.searchBoxR>div{
    width: 26px;
    height: 26px;
    background: red url(../images/Top/sousuo.png) no-repeat;
    background-size:100% 100% ;
    float: left;
    margin-top: 6px;
    margin-left: 30px;
}
/* 登录 */
.Top>.titleTopBox>.register{
    width: 85px;
    height: 27px;
    /* background-color: pink; */
    float: right;
    margin-top: 20px;
}
/* 导航开始 */
.nvt{
    height: 50px;
    background-color: #fffaf7;
    border-bottom: 1px solid #d5d2ce;
    overflow: hidden;
}
.nvt>.nvtBox{
    height: 50px;
    /* background-color: red; */
    overflow: hidden;
}

.nvt .nvtL{
    width: 850px;
    height: 100%;
    /* background-color: yellow; */
    float: left;
    margin-left: 22px;
    overflow: hidden;
}
.nvt .nvtL>ul>li{
    float: left;
    margin-right: 40px;
    line-height: 50px;
    font-size: 16px;
    cursor: pointer;
}
.nvt .nvtL>ul>li span{
    display: inline-block;
    font-size:10px ;
    vertical-align: top;
    margin-left: 4px;
}
.nvt .nvtL>ul>li a{
    color: #a4653e;
}
/* R */
.nvt .nvtR{
    width: 133px;
    height: 100%;
    /* background-color: yellow; */
    float: right;
    overflow: hidden;
}
.nvt .nvtR>.img{
    margin-top: 12px;
    float: left;
    cursor: pointer;
}
.nvt .nvtR>.tetx{
    margin-top: 12px;
    float: left;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 5px;
}
/* 顶部结束 */
/* 内容 */
.contBox{
    height: 1800px;
    background-color: #eeece9;
    /* background-color: red; */
    overflow: hidden;
}
/* 大合子 版心 */
.contBox>.matterBox{
    height: 1750px;
    /* background-color: yellow; */
    overflow: hidden;
    margin-top: 10px;
}
/* L */
.contBox>.matterBox>.matterBoxL{
    width: 790px;
    height: 700px;
    /* background-color: green; */
    float: left;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox1{
    width: 100%;
    height: 307px;
    background-color: #fff;
    overflow: hidden;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox1>.L{
    width: 443px;
    height: 100%;
    background: url(../images/内容/111.jpg) no-repeat center center;
    background-size: 100% 100%;
    float: left;}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox1>.R{
    float: left;
    width: 345px;
    height: 100%;
}

.contBox>.matterBox>.matterBoxL>.matterBoxLBox1>.R>h2{
    width: 325px;
    height: 20px;
    margin-top: 42px;
    margin-left: 30px;
    font-size: 20px;
    /* font-weight: normal; */
    line-height: 20px;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox1>.R>strong{
    height: 18px;
    width: 325px;
    margin-top: 33px;
    margin-left: 30px;
    display: block;
    font-size: 18px;
    line-height: 18px;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox1>.R>p{
    height: 18px;
    width: 325px;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 18px;
    margin-right: 34px;}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox1>.R>.text1{
    width: 40px;
    line-height: 23px;

}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox1>.R .text2{
    margin-top: 48px;
}
/* 2 */
.contBox>.matterBox>.matterBoxL>.matterBoxLBox2{
    width: 100%;
    height: 380px;
    background-color: #fff;
    margin-top: 25px;
    overflow: hidden;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox2>.dayBox{
    width: 765px;
    height: 19px;
    /* background-color: pink; */
    margin-top: 27px;
    margin-left: 25px;
    font-size: 19px;
    line-height: 19px;
    color: #707279;
    font-weight: bold;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox2>.dayBox>span{
    color: #993300;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox2>.tu{
    width: 100%;
    height: 175px;
    /* background-color: blue; */
    margin-top: 15px;
    overflow: hidden;
    margin-left: 25px;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox2 li{
    margin-right: 17px;
    float: left;
    cursor: pointer;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox2 .clo{
    margin-right: 0px;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox2 img{
    width: 175px;
    height: 175px;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox2>.text{
    width: 750px;
    height: 40px;
    /* background-color: blue; */
    margin-top: 17px;
    margin-left: 23px;
    /* border-bottom:2px solid #e4e2df; */
    overflow: hidden;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox2>.text>li{
    height: 40px;
    font-size: 16px;
    color: #993300;
    float: left;
    margin-right: 138px;
    cursor: pointer;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox2>.text>.jian{
    margin-left: 62px;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox2>.text>.clo1{
    margin-right: 0px;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox2>.text>.ma{
    margin-right: 118px;
}

.contBox>.matterBox>.matterBoxL>.matterBoxLBox2>.text2{
    width: 740px;
    height: 77px;
    /* background-color: blue; */
    margin-left: 25px;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox2>.text2>li{
    width: 147px;
    height: 100%;
    /* background-color: pink; */
    margin-right: 18px;
    float: left;
    border-top:2px solid #e4e2df ;
    padding-top: 10px;
    padding-right: 12px;
    color: #707279;
    padding-left: 12px;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox2>.text2>.clo3{
    margin-right: 0px;
}
/* 3 */
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3{
    width: 100%;
    height: 958px;
    background: #fff;
    margin-top: 25px;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.L{
    width: 170px;
    height: 100%;
    background-color: #fff;
    float: left;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.L>.titleBox{
    width: 100%;
    height: 45px;
    background: #cecbc6;
    line-height: 45px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: #797977;
    cursor: pointer;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.L>ul{
    width: 168px;
    height: 407px;
    /* background-color: red; */
    border-right:3px solid #d4d3d2 ;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.L>ul>li{
    width: 100%;
    height: 37px;
    /* background-color: blue; */
    margin-bottom: 20px;
    cursor: pointer;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.L>ul>.cloo{
    border-right:3px solid #d4d3d2 ;
    margin-bottom: 0px;
    height: 64px;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.L>ul>.maz2{
    height: 55px;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.L>ul>li .tu1{
    width: 35px;
    height: 35px;
    border-radius:50% ;
    display: flex;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.L>ul>li .tu1>img{
    width: 100%;
    height: 100%;
    border-radius:50% ;
    margin-left: 22px;
    display: block;
    float: left;
}

.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.L>ul>li .tu3{
    width: 120px;
    height: 35px;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.L>ul>li .blank{
    width: 100%;
    height: 100%;   
    /* background-color: red; */
    float: left;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.L>ul>li .tu1 a{
    display: block;
    float: left;
    width: 100px;
    height: 35px;
    line-height: 35px;
    white-space: nowrap;
    margin-left: 15px;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.L>ul>li .tu2{
    padding-top: 10px;
    width: 35px;
    height: 35px;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.L .titleBoxClo{
    margin-top: 0px;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.L .maz22{
    margin-bottom: 0px;
}

/* L结束 */

.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.R{
    width: 620px;
    height: 100%;
    background-color: #fff;
    float: left;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.R>.titleBoxR{
    width: 558px;
    height: 32px;
    /* background-color: red; */
    border-bottom: 2px solid #d4d3d2;
    margin-left: 24px;
    margin-top: 27px;
    font-size: 18px;
    /* line-height: 32px; */
    font-weight: bold;
    color: #993300;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.R>.imgBoxR{
    width: 558px;
    height: 400px;
    /* background-color: red; */
    margin-left:24px ;
    margin-top: 25px;
    overflow: hidden;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.R>.imgBoxR>li{
    width: 169px;
    height: 198px;
    /* background-color: gold; */
    float: left;
    margin-right: 25px;
    margin-bottom: 4px;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.R>.imgBoxR>.clo{
    margin-right: 0px;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.R>.imgBoxR .Boxtu{
    width: 169px;
    height: 130px;
    background: url(../images/内容/HotR/1.jpg) no-repeat ;
    background-size: 100% 100%;
    overflow: hidden;
    cursor: pointer;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.R>.imgBoxR .tu2{
    background: url(../images/内容/HotR/2.jpg) no-repeat ;
    background-size: 100% 100%;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.R>.imgBoxR .tu3{
    background: url(../images/内容/HotR/3.jpg) no-repeat ;
    background-size: 100% 100%;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.R>.imgBoxR .tu4{
    background: url(../images/内容/HotR/4.jpg) no-repeat ;
    background-size: 100% 100%;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.R>.imgBoxR .tu5{
    background: url(../images/内容/HotR/5.jpg) no-repeat ;
    background-size: 100% 100%;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.R>.imgBoxR .tu6{
    background: url(../images/内容/HotR/6.jpg) no-repeat ;
    background-size: 100% 100%;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.R>.imgBoxR .tu7{
    background: url(../images/内容/HotR/7.jpg) no-repeat ;
    background-size: 100% 100%;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.R>.imgBoxR .tu8{
    background: url(../images/内容/HotR/8.jpg) no-repeat ;
    background-size: 100% 100%;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.R>.imgBoxR .tu9{
    background: url(../images/内容/HotR/9.jpg) no-repeat ;
    background-size: 100% 100%;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.R>.imgBoxR .tu10{
    background: url(../images/内容/HotR/10.jpg) no-repeat ;
    background-size: 100% 100%;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.R>.imgBoxR .tu11{
    background: url(../images/内容/HotR/11.jpg) no-repeat ;
    background-size: 100% 100%;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.R>.imgBoxR .tu12{
    background: url(../images/内容/HotR/12.jpg) no-repeat ;
    background-size: 100% 100%;
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.R .titleBoxClo{
    margin-top: 0%;
    /* line-height: 0px; */
}
.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.R>.imgBoxR h5{
    width: 100%;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    font-weight: normal;
    color: #993300;

}

.contBox>.matterBox>.matterBoxL>.matterBoxLBox3>.R>.imgBoxR img{
    height: 35px;
    width: 35px;
    display: block;
    margin: 0 auto;
    margin-top: 45px;
    /* border: 2px solid #fff ;
    border-radius: 50%; */
}
/* R */
.contBox>.matterBox>.matterBoxR{
    width: 372px;
    /* height: 700px; */
    /* background-color: green; */
    float: right;
    margin-top: 35px;
}
/* 分享的美食开始 */
.contBox>.matterBox>.matterBoxR>.foodBox{
    width: 100%;
    height: 1077px;
    /* background-color: red; */
}
/* 美食标题开始 */
.contBox>.matterBox>.matterBoxR>.foodBox .foodBoxTiitle{
    width: 100%;
    height: 60px;
    background-color: #ccc8c2;
    font-size: 16px;
    line-height: 60px;
    color: #74726f;
    font-weight: bold;
    padding-left: 20px;
    /* box-sizing: border-box; */
}
.contBox>.matterBox>.matterBoxR>.foodBox .foodBoxTiitle a{
    color: #993300;
}
.contBox>.matterBox>.matterBoxR>.foodBox .foodBoxCon{
    width: 100%;
    height: 1015px;
    background-color: #fff;
    overflow: hidden;
}
.contBox>.matterBox>.matterBoxR>.foodBox .foodBoxCon .us1{
    width: 334px;
    height: 200px;
    border-bottom: 1px solid #ccc8c2;
    margin: 0 auto;
    /* background: red; */
    margin-top: 20px;
    /* overflow: hidden; */
}
.contBox>.matterBox>.matterBoxR>.foodBox .foodBoxCon .us1 .L{
    width: 50px;
    height: 100%;
    /* background-color: yellow; */
    float: left;
}
.contBox>.matterBox>.matterBoxR>.foodBox .foodBoxCon .us1 .R{
    width: 270px;
    height: 100%;
    /* background-color: green; */
    float: right;
}
.contBox>.matterBox>.matterBoxR>.foodBox .foodBoxCon .us1 .R .user{
    width: 100%;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    margin-top: 8px;
}
.contBox>.matterBox>.matterBoxR>.foodBox .foodBoxCon .us1 .R span{
    color: #993300;
}
.contBox>.matterBox>.matterBoxR>.foodBox .foodBoxCon .us1 .R .img{
    width:197px;
    height: 130px;
    /* background-color: pink; */
    margin-top: 12px;
}
.contBox>.matterBox>.matterBoxR>.foodBox .foodBoxCon .us1 .R .img .L1{
    width:130px ;
    height: 100%;
    float: left;
    /* background-color: yellowgreen; */
}
.contBox>.matterBox>.matterBoxR>.foodBox .foodBoxCon .us1 .R .img .R1{
    width: 64px;
    height: 100%;
    float: right;
    /* background-color: red; */
}
.contBox>.matterBox>.matterBoxR>.foodBox .foodBoxCon .us1 .R .img .R1 .t1{
    width: 100%;
    height: 65px;
    margin-bottom: 2px;
    /* background-color: red; */
    
}
.contBox>.matterBox>.matterBoxR>.foodBox .foodBoxCon .us1 .R .img .R1 .t2{
    margin-bottom: 0px;
}
.contBox>.matterBox>.matterBoxR>.foodBox .foodBoxCon .us1 .R .comment{
    width: 100%;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    margin-top: 10px;
    margin-left: 10px;
    color: #a09e9e;

}
/* 图片 */
.contBox>.matterBox>.matterBoxR>.foodBox .foodBoxCon .us1 .R .img .L1 img{
    width:40px ;
    height:40px ;
    display: block;
    margin-top: 85px;
    margin-left: 90px;

}
.contBox>.matterBox>.matterBoxR>.foodBox .foodBoxCon .us1 .R .img .R1 .t1 img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.contBox>.matterBox>.matterBoxR>.foodBox .foodBoxCon .us1 .R .img .R1 .t2 img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.contBox>.matterBox>.matterBoxR>.foodBox .foodBoxCon .us1 .R .img .L1
{
    width: 130px;
    height: 130px;
    background: yellow url(../images/ms.jpg) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
.contBox>.matterBox>.matterBoxR>.foodBox .foodBoxCon .us1 .R .img .L2
{
    width: 130px;
    height: 130px;
    background: yellow url(../images/内容/HotR/4.jpg) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
/* 修改 */
.contBox>.matterBox>.matterBoxR>.foodBox .foodBoxCon .us2{
    height: 75px;
}
.contBox>.matterBox>.matterBoxR>.foodBox .foodBoxCon .us1 .R .img2{
    width:262px;
    height: 130px;
    /* background-color: pink; */
    margin-top: 12px;
}
.contBox>.matterBox>.matterBoxR>.foodBox .foodBoxCon .us1 .R .img .L3
{
    width: 130px;
    height: 130px;
    background: yellow url(../images/内容/HotR/8.jpg) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    float: right;
}
/* 底部文字开始 */
.contBox>.matterBox>.matterBoxR>.foodBox .foodBoxCon>p{
    width: 100%;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    color: #993300;
    font-weight: bold;
    margin-top: 45px;
    text-align: center;
}
.contBox>.matterBox>.matterBoxR>.foodBox .foodBoxCon>p>a{
    color:#993300;
}
/* 底部按钮开始 */
.contBox>.matterBox>.matterBoxR>.foodBox .foodBoxCon>.btn{
    width: 200px;
    height: 50px;
    background-color: #993300;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}
/* 分享的美食2开始 */
.contBox>.matterBox>.matterBoxR>.foodBox2{
    width: 100%;
    height: 567px;
    background-color: red;
    margin-top: 18px;
}
.contBox>.matterBox>.matterBoxR>.foodBox2>.foodBox2Title{
    width: 100%;
    height: 63px;
    background-color: #ccc8c2;
    font-size: 16px;
    line-height: 63px;
    color: #74726f;
    font-weight: bold;
    padding-left: 20px;
    /* box-sizing: border-box; */
}
.contBox>.matterBox>.matterBoxR>.foodBox2>.gastronome{
    width: 100%;
    height: 504px;
    background-color: #fff;
}
.contBox>.matterBox>.matterBoxR>.foodBox2>.gastronome>li{
    width: 334px;
    height: 84px;
    border-bottom: 1px solid #ccc8c2;
    float: left;
    margin-left: 18px;
    margin-top: 10px;
    cursor: pointer;
}
.contBox>.matterBox>.matterBoxR>.foodBox2>.gastronome>li>.gastronomeL{
    width: 273px;
    height: 100%;
    float: left;
    /* background-color: red; */
}
.contBox>.matterBox>.matterBoxR>.foodBox2>.gastronome>li>.gastronomeL>.L{
    width: 69px;
    height: 100%;
    /* background-color: yellow; */
    float: left;
}
.contBox>.matterBox>.matterBoxR>.foodBox2>.gastronome>li>.gastronomeL>.L>img{
    width: 68px;
    height: 68px;
    border-radius:50% ;
    display: block;
    margin-top: 10px;
}

.contBox>.matterBox>.matterBoxR>.foodBox2>.gastronome>li>.gastronomeL>.R{
    width: 160px;
    height: 100%;
    /* background: pink; */
    float: left;
    margin-left: 15px;
}
.contBox>.matterBox>.matterBoxR>.foodBox2>.gastronome>li>.gastronomeL>.R>div{
    width: 100%;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    color: #a4653e;
    font-weight: bold;
    margin-top: 20px;
    overflow: hidden
}
.contBox>.matterBox>.matterBoxR>.foodBox2>.gastronome>li>.gastronomeL>.R>span{
    display: block;
    width: 100%;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    color: #a2a3a2;
    /* font-weight: bold; */
    margin-top: 15px;
    overflow: hidden
}
.contBox>.matterBox>.matterBoxR>.foodBox2>.gastronome>li>.gastronomeR{
    width: 61px;
    height: 100%;
    float: right;
    /* background-color: green; */
}
.contBox>.matterBox>.matterBoxR>.foodBox2>.gastronome>li>.gastronomeR>.attention{
    width: 50px;
    height: 28px;
    background-color: #c7ada0;
    line-height: 28px;
    text-align: center;
    margin: 0 auto;
    /* font-weight: bold; */
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
/* 底部开始！!!!! */
.butBox{
    height: 207px;
    background-color: #d6d4d0;
    overflow: hidden;
}
.butBox>.butBox1{
    height: 207px;
    /* background-color: red; */
    overflow: hidden;
}
.butBox>.butBox1>.text1{
    width: 100%;
    height: 20px;
    font-size: 18px;
    line-height: 20px;
    color: #993300;
    margin-top: 62px;
}
.butBox>.butBox1>.text2{
    margin-top: 22px;
    color: #000;
}
