*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #333;
}
li{
    list-style: none;
}
input{
    outline: none;
    border: none;
}
/* 版心 */
.layout{
    width: 1190px;
    margin: 0 auto;
}
/* 顶部大合子 */
.Top{
    height: 95px;
    background-color: #fffaf7;
    border-bottom:2px solid #d5d2ce ;
    overflow: hidden;
}
/* 标题开始 */
.Top>.titleTopBox{
    height: 55px;
    /* background-color: red; */
    margin-top: 20px;
    overflow: hidden;

}
/* logo */
.Top>.titleTopBox>.Logo{
    width: 113px;
    height: 55px;
    /* background-color: yellow; */
    float: left;
}
.Top>.titleTopBox>.Logo img{
    width: 100%;
    height: 100%;
}
/* 搜索开始 */
.Top>.titleTopBox>.searchBox{
    /* width: 267px; */
    width: 357px;
    height: 40px;
    /* background-color: yellow; */
    float: left;
    margin-top: 10px;
    margin-left: 18px;
}
.Top>.titleTopBox>.searchBox>.searchBoxL{
    width: 267px;
    height: 38px;
    background-color: #fffaf7;
    float: left;
    border: 1px #d5d2ce solid;
}
.Top>.titleTopBox>.searchBox>.searchBoxL>input{
    width: 260px;
    height: 38px;
    /* background-color: #fffaf7; */
    float: left;
    padding-left: 10px;
    font-size: 18px;
}
.Top>.titleTopBox>.searchBox>.searchBoxR{
    width: 86px;
    height: 38px;
    background-color: #993300;
    border: 1px solid #b27d65;
    float: left;
    cursor: pointer;
}
.Top>.titleTopBox>.searchBox>.searchBoxR>div{
    width: 26px;
    height: 26px;
    background: red url(../images/Top/sousuo.png) no-repeat;
    background-size:100% 100% ;
    float: left;
    margin-top: 6px;
    margin-left: 30px;
}
/* 登录 */
.Top>.titleTopBox>.register{
    width: 85px;
    height: 27px;
    /* background-color: pink; */
    float: right;
    margin-top: 20px;
}
/* 导航开始 */
.nvt{
    height: 50px;
    background-color: #fffaf7;
    border-bottom: 1px solid #d5d2ce;
    overflow: hidden;
}
.nvt>.nvtBox{
    height: 50px;
    /* background-color: red; */
    overflow: hidden;
}

.nvt .nvtL{
    width: 850px;
    height: 100%;
    /* background-color: yellow; */
    float: left;
    margin-left: 22px;
    overflow: hidden;
}
.nvt .nvtL>ul>li{
    float: left;
    margin-right: 40px;
    line-height: 50px;
    font-size: 16px;
    cursor: pointer;
}
.nvt .nvtL>ul>li span{
    display: inline-block;
    font-size:10px ;
    vertical-align: top;
    margin-left: 4px;
}
.nvt .nvtL>ul>li a{
    color: #a4653e;
}
/* R */
.nvt .nvtR{
    width: 133px;
    height: 100%;
    /* background-color: yellow; */
    float: right;
    overflow: hidden;
}
.nvt .nvtR>.img{
    margin-top: 12px;
    float: left;
    cursor: pointer;
}
.nvt .nvtR>.tetx{
    margin-top: 12px;
    float: left;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 5px;
}
/* 顶部结束 */
/* 内容开始 */
.contBox{
    /* height: 1800px; */
    background-color: #eeece9;
    /* background-color: red; */
    overflow: hidden
}
.contBox>.con{
    /* height: 1800px; */
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
}
.contBox>.con>.Big{
    height: 4076px;
    width: 1112px;
    /* background-color: red; */
    margin: 40px;
    overflow: hidden;
}
.contBox>.con>.Big>.xian{
    width: 100%;
    height: 14px;
    /* background-color: yellow; */
    /* border-bottom: 1px solid #ccc; */
    position: relative;
}
.contBox>.con>.Big>.xian>h2{
    width: 100%;
    height: 18px;
    position: absolute;
    font-size: 18px;
    text-align: center;
}
.contBox>.con>.Big>.xian>h2>span{
    display: block;
}

.contBox>.con>.Big>.userBox{
    width: 100%;
    height: 1134px;
    /* background-color: blue; */
    margin-top: 40px;
}
.contBox>.con>.Big>.userBox>li{
    width: 120px;
    height: 120px;
    /* background-color: red; */
    float: left;
    margin-right: 43px;
    margin-bottom: 25px;
    cursor: pointer;

}
.contBox>.con>.Big>.userBox>li.clo{
    margin-right: 0px;
}
.contBox>.con>.Big>.userBox>li>img{
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 50%;
}
.contBox>.con>.Big>.userBox>li>.name{
    width: 120px;
    height: 48px;
    margin-top:15px;
    /* background-color: pink; */
    color: #993300;
    font-size: 16px;
    overflow: hidden;
}
.contBox>.con>.Big>.userBox>li>.name2{
    margin-left: 18px;
}
.contBox>.con>.Big .clo1{
    margin-top: 60px;
    
}
.contBox>.con>.Big .tuP{
    width: 100%;
    height: 2617px;
    /* background-color: red; */
    margin-top: 40px;
    overflow: hidden;
}
.contBox>.con>.Big .tuP>li{
    width: 345px;
    height: 372px;
    /* background-color: green; */
    overflow: hidden;
    margin-right: 38px;
    float: left;
    margin-bottom: 3px;
    cursor: pointer;
}
.contBox>.con>.Big .tuP>li.cloo{
    margin-right: 0px;
}
.contBox>.con>.Big .tuP>li>img{
    display: block;
    width: 100%;
    height: 273px
}
.contBox>.con>.Big .tuP>li>p{
    width: 100%;
    height: 16px;
    margin-top: 45px;
    line-height: 16px;
    font-size: 16px;
    color: #acaba9;
    overflow: hidden;
    text-align: center;
}
.contBox>.con>.Big .fast{
    width: 100%;
    height: 38px;
    /* background-color: red; */
    margin-top: 40px;
    overflow: hidden;
}
.contBox>.con>.Big .fast>ul{
    height: 100%;
    width: 373px;
    /* background-color: #993300; */
    margin: 0 auto;
    overflow: hidden;
}
.contBox>.con>.Big .fast>ul>.fastBox{
    width: 35px;
    height: 100%;
    background-color: #dbd9d7;
    float: left;
    cursor: pointer;
    margin-right: 10px;
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    /* font-weight: bold; */

}
.contBox>.con>.Big .fast>ul>.fastBox2{
    margin-left: 10px;
    width: 44px;
}
.contBox>.con>.Big .fast>ul>.fastBox3{
    width: 77px;
}
.contBox>.con>.Big .fast>ul>.Bold{
    background-color: #993300;
}
.contBox>.con>.Big .fast>ul>.Bold>a{
    color: #fff;
}
.contBox>.con>.Big .fast>ul>.sp{
    width: 15px;
    height: 38px;
    margin-left: 15px;
    float: left;
    margin-top: 10px;
    cursor: pointer;
}
.contBox>.con>.Big .share{
    height: 24px;
    width: 100%;
    /* background-color: red; */
    overflow: hidden;
    margin-top: 35px;

}
.contBox>.con>.Big .share>ul{
    height: 100%;
    width: 150px;
    /* background-color: green; */
    float: right;
    overflow: hidden;
}
.contBox>.con>.Big .share>ul .wx{
    width: 17px;
    height: 17px;
    background:  url(../images/icons_0_16.png) no-repeat 0px -1613px;
    float: left;
    margin-top: 4px;
    cursor: pointer;
}
.contBox>.con>.Big .share>ul .QQkj{
    width: 17px;
    height: 17px;
    background:  url(../images/icons_0_16.png) no-repeat 0px -52px;
    float: left;
    margin-top: 4px;
    cursor: pointer;
    margin-left: 8px;
}
.contBox>.con>.Big .share>ul .wb{
    width: 17px;
    height: 17px;
    background:  url(../images/icons_0_16.png) no-repeat 0px -104px;
    float: left;
    margin-top: 4px;
    cursor: pointer;
    margin-left: 8px;
}
.contBox>.con>.Big .share>ul .QQ{
    width: 17px;
    height: 17px;
    background: url(../images/icons_0_16.png) no-repeat 0px -2652px;
    float: left;
    margin-top: 4px;
    cursor: pointer;
    margin-left: 8px;
}
.contBox>.con>.Big .share>ul .sz{
    width: 17px;
    height: 17px;
    background: url(../images/icons_0_16.png) no-repeat 0px 0px;
    float: left;
    margin-top: 4px;
    cursor: pointer;
    margin-left: 8px;
}
/* 内容结束 */


/* 底部开始！!!!! */
.butBox{
    height: 207px;
    background-color: #d6d4d0;
    overflow: hidden;
}
.butBox>.butBox1{
    height: 207px;
    /* background-color: red; */
    overflow: hidden;
}
.butBox>.butBox1>.text1{
    width: 100%;
    height: 20px;
    font-size: 18px;
    line-height: 20px;
    color: #993300;
    margin-top: 62px;
}
.butBox>.butBox1>.text2{
    margin-top: 22px;
    color: #000;
}
