*{
    margin: 0;
    padding: 0;
}
body{
    height: 3000px;
}
li{
    list-style: none;
}
.TopBox{
    width: 100%;
    height: 65px;
    background-color: #000;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;

}
.TopBox>.box1{
    width: 35px;
    height: 35px;
    float: left;
    margin-top: 15px;
    margin-left: 75px;
}
.TopBox>.box1>img{
    width: 100%;
    height: 100%;
}
.TopBox>.lead{
    width: 890px;
    height: 35px;
    /* background-color: red; */
    float: left;
    margin-top: 15px;
    margin-left: 190px;
}
.TopBox>.lead>li{
    line-height: 35px;
    font-size: 14px;
    color: #fff;
    float: left;
    margin-right: 40px;
    cursor: pointer;
}
.TopBox>.lead>.cl{
    margin-right: 0px;
}
.TopBox>.lead>li>span{
    color: #f86701;
}
.TopBox>.denlu{
    width: 125px;
    height: 35px;
    /* background-color: red; */
    float: right;
    margin-top: 15px;
    margin-left: 110px;
    margin-right: 15px;
}
.TopBox>.denlu>div{
    float: left;
    line-height: 35px;
    font-size: 14px;
    color: #fff;
    margin-right: 25px;
}
.TopBox>.denlu>span{
    display: block;
    float: left;
    line-height: 35px;
    margin-right: 25px;
    color: #fff;
}
.TopBox>.denlu>.cl{
    margin-right: 0px;
}


.topIcon{
    width:42px ;
    height:62px ;
    position: fixed;
    top: 50%;
    right: 35px;
}

.topIcon>img{
    width: 100%;
    height: 100%;
}
